# Dependencies
node_modules/
dist/
dev-dist/
*.local-dist

# Environment variables
.env
.env.local
.env.*.local
.env.production
.env.development

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
